.notification {
  position: fixed;
  top: 10px;
  margin-left: 100px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure this is high enough to be above other elements */
}

.notification p {
  margin: 0;
}

.notification button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}
